.cat{
    position: relative;
    width: 750px;
    height: 534px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#moods{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.moodbox{
    position: absolute;
    width: 250px;
    height: 120px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border: 3px solid;
    transition: transform 0.3s ease,
    border 0.2s ease,
    boxshadow 0.2s ease;
    border-radius: 20px;
}

#happy{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #e7ca0b;
    border: 3px solid rgb(193, 175, 60)0;
    color: rgb(59, 56, 4);
}

#sad{
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #084eb8;
    border: 3px solid #042b68;
    color: whitesmoke;
}

#angry{
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #a10909;
    border: 3px solid #570505;
    color: whitesmoke;
}

#anxious{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #930bbd;
    border: 3px solid #650084;
    color: whitesmoke;
}

body{
    margin: 0%;
    min-height: 100vh;
    background-color: #080808;
    color: white;
    transition: background 0.8s ease;
}

body.happybg{
    background: radial-gradient(circle, #e7ca0b, #080808);
}

body.sadbg{
    background: radial-gradient(circle, #084eb8, #080808);
}

body.angrybg{
    background: radial-gradient(circle, #a10909, #080808);
}

body.anxiousbg{
    background: radial-gradient(circle, #930bbd, #080808);
}

#notes{
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
}

.note{
    position: absolute;
    bottom: -50px;
    width: 40px;
    animation: floatup 4s linear forwards;
}

@keyframes floatup{
    from{
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    to{
        transform: translateY(-100vh) rotate(30deg);
        opacity: 0;
    }
}

body{
    font-family: "Fredoka",sans-serif;
}

.top h1{
    font-size: 60px;
    margin-bottom: 5px;
    letter-spacing: 3px;
    text-shadow: 0 0 15px #e2a6df ;
    text-align: center;
}

.top p{
    font-size: 17px;
    opacity: 0.8;
    text-align: center;
}

.moodbox:hover{
    transform: translateY(-2px);
    border-width: 5px;
}