.cat{
    position: relative;
    width: 750px;
    height: 534px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#moods{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.moodbox{
    position: absolute;
    width: 250px;
    height: 120px;
    padding: 15px;
    background: rgb(81, 9, 152);
    text-align: center;
    cursor: pointer;
}

#happy{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#sad{
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#angry{
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#anxious{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}